################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MusicStore/MusicStoreWeb/bin
/MusicStore/MusicStoreWeb/obj/Debug
/MusicStore/packages
/MusicStore/.vs
