@model IEnumerable<MusicStoreWeb.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<table>
    <thead>
        <tr>
            <th>Customer</th>
            <th>DiscountRate</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var customer in Model)
        {
            <tr>
                <td>@Html.ActionLink(customer.Name,"Details","Customers",new { id=customer.Id},null)</td>
                <td>@customer.MembershipType.DiscountRate%</td>
            </tr>
        }
    </tbody>
</table>

